.header-and-feature{
    width: 100%;
    height: 260px;
    background-image: url(./background.jpg);

    .h1{
        color: seashell;
        font-size: 3rem;
        text-align: center;
        padding-top: 150px;
    }
}


.main-container{
    padding-left: 10%;
    padding-right: 10%;

    .sub-content{
       td{
           vertical-align: top;
       }
    }

    .h2{
        color: rgb(42, 71, 65);
        font-size: 2.2rem;
        margin-top: 1%;
    }
    
}

